/* font */
textarea, h1, p, button, span, input, div{font-family:'Noto Sans KR', sans-serif;}
a{text-decoration-line:none;color:black;}
.margin-top-remove{margin-top:0}
.margin-top-add{margin:0 10px 0 0;word-wrap:break-word;}
.a-margin-top-add{margin-top:10px;display:block;margin-bottom:0;}
.small-font{font-weight:200;margin:0;font-size: small;&.--date{color:rgb(210, 210, 210);}}
.star{font-variation-settings:'FILL' 0,'wght' 400,'GRAD' -25,'opsz' 24}
.write-h1{margin:50px 0 40px 0}
.main-title{margin:0;height:50px;font-size:large;font-weight:700;padding-top:20px;color:rgb(245,245,245);}
.modal-p{font-size:large;margin:6px 0 20px 6px;}
.content-p{margin-bottom:0;margin-top:10px;word-wrap:break-word;}
.class_info-p{margin:0;font-size:large}
.modal-title{position:absolute;font-size:xx-large;margin-bottom:5px;word-wrap:break-word;left: 50%;transform: translate(-50%,0);}
.modal-content{font-size:large;word-wrap:break-word;}

/* default setting */
body, html{height:100%;width:100%;margin:0;background-color:rgb(245, 245, 245);}

/* home, board, write*/
.main-section{
    display:flex;
    position:relative;
    justify-content:center;
}

.nav{
    display:flex;
    position:fixed;
    align-items:center; 
    top:0;
    width:100%;
    padding:20px;
    justify-content:space-between;
    box-sizing:border-box;
    z-index:2;
}

.nav-main{
    display:flex;
    align-items:center; 
}

.profile-img{
    border-radius:70%;
    overflow:hidden;
    &.--xlarge{
        height:100px;
        width:100px;
    }
    &.--big{
        height:50px;
        width:50px;
    }
    &.--small{
        height:18px;
        width:18px;
        margin-right:6px;
    }
}

.main-logo{height:35px;margin-right:15px;}

/* board, home, write */
.board-list-card{
    width:100%;
    box-sizing:border-box;
    border-radius:25px;
    padding:20px;
    margin-bottom:20px;
    background-color:rgb(235, 235, 235);
    &.--like{background-color:rgb(215, 219, 228);}
    &.--user{text-align:left;}
    &.--private{flex:1;min-width:300px;margin-right: 20px;}
    &.--no-padding{padding:0}
}

/* home*/
.home{
    display:flex;
    width:60%;
    transition:all 1s ease;
}

@media(max-width: 800px){
    .home{
        width:80%;
    }
}

.home_content{
    margin-top:110px;
    width:60%;
    box-sizing:border-box;
    &.--left{
        float:left;
        margin-right:20px;
    }
    &.--right{
        float:right;
        flex-grow:1;
    }
}

/* board, write*/
.content{
    position:absolute;
    width:60%;
    top:0;
    z-index:1;
    transition:all 1s ease;
}

@media(max-width: 800px){
    .content{
        width:80%;
    };
}

/* board */
.post-card{
    padding:20px;
    background-color:rgb(235, 235, 235);
    border-radius:25px;
    margin-bottom:10px;
}

.post-card_action{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
    &.--bottom{
        width:100%;
        box-sizing:border-box;
        padding-top:15px;
    }
}

.post-function{
    display:flex;
    align-items: center;
    &.--section{
        position:fixed;
        bottom:0;
        width:100%;
        box-sizing:border-box;
        flex-direction:row-reverse;
        padding:20px;
        z-index:3;
    }
}

.post-modal_content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:62%;
    padding:20px 20px 25px 30px;
}

.post-modal_content__heading{
    display:flex;
    align-items:center;
}

.post-modal_comment{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    flex:1;
    background-color:rgb(235,235,235);
    border-radius: 0 25px 25px 0;
    justify-content:space-between;
}

.post-modal_content_title{
    display:flex;
    width:100%;
    box-sizing:border-box;
    position:relative;
    height:80px;
    align-items:center;
}

.post-modal_content_buttons{
    display:flex;
    &.--section{justify-content:space-between;}
}

.post-modal_comment__write{
    position:relative;
    display:flex;
    height:60px;
}

.post-modal_comment__input{
    position:absolute;
    width:100%;
    border-radius:0 0 25px 0;
    box-sizing:border-box;
    background-color:rgb(215, 215, 215);
    border:0;
    height:60px;
    padding:0 20px 0 20px;
    z-index:1;
    transition:all .3s ease;
    &:focus{background-color:rgb(215, 219, 228);outline:0;}
}

.post-modal_comment__view{padding:20px 10px 0 10px;}

/* write */
.write-text{
    box-sizing:border-box;
    border-radius:25px;
    background-color:rgb(235, 235, 235);
    padding:20px;
    border:0;
    font-size: medium;
    &:focus{outline:0;}
    &.--title{
        width:80%;
        height:60px;
        margin-bottom:20px;
        &:focus{background-color:rgb(215, 219, 228);}
    }
    &.--content{
        width:100%;
        height:400px;
        resize:none;
    }
}
 
/* dropdown */
.nav-main__dropdown{position:relative;display:inline-block;&:hover .dropdown__list{opacity:1;visibility:visible;}}

.dropdown__list {
    opacity:0;
    visibility:hidden;
    position:absolute;
    height:auto;
    min-width:340px;
    z-index:1;
    &.--profile{right:0px;}
    &.--class-intro{left:0px;}
}

.dropdown__list_content{
    background-color:rgba(255,255,255,40%);
    backdrop-filter:blur(5px);
    padding:20px 20px 20px 20px;
    box-shadow:0 0 6px .1px rgb(175,175,175);
    height:auto;
    &.--profile{border-radius:37px;}
    &.--class-intro{border-radius:25px;width:355px}
}

/* modal */
.modal {
    visibility:hidden;
    position:absolute;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:20px;
    height: auto;
    width: auto;
    background-color: rgb(245,245,245);
    border-radius: 37px;
    box-shadow:0 0 6px .1px rgb(175,175,175);
    z-index: 900;
    &.--post{
        opacity:0;
        display:flex;
        justify-content: space-between;
        position:fixed;
        padding:0;
        height:60%;
        border-radius: 25px;
        width:55%;
        transition:all .3s ease;
    }
}

@media(max-width: 1300px){
    .modal.--post{
        height:65%;
        width:80%;
    }
}

@media(max-width: 767px){
    .modal.--post{
        height:98%;
        width:98%;
        flex-direction:column;
    }
    .post-modal_content{
        width:100%;
        box-sizing:border-box;
    }
    .post-modal_comment{border-radius:0 0 25px 25px;}
    .post-modal_comment__view{padding:0 20px 0 20px;}
    .post-modal_comment__input{border-radius:0 0 25px 25px;}
}

.dimlayer{
    visibility:hidden;
    position:absolute;
    position:fixed;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,10%);
    backdrop-filter: blur(5px);
    z-index:800;
    &.--comment{cursor:auto;position:fixed;}
}