/* font */
textarea, h1, p, button, span, input, div{font-family:'Noto Sans KR', sans-serif;}
a{text-decoration-line:none;color:black;}
.margin-top-remove{margin-top:0}
.margin-top-add{margin:0 10px 0 0;}
.a-margin-top-add{margin-top:10px;display:block;margin-bottom:0;}
.small-font{font-weight:200;margin:0;font-size: small;&.--date{color:rgb(210, 210, 210);}}
.star{font-variation-settings:'FILL' 0,'wght' 400,'GRAD' -25,'opsz' 24}
.write-h1{margin:50px 0 40px 0}
.main-title{margin:0;height:50px;font-size:large;font-weight:700;padding-top:20px;color:rgb(245,245,245);}
.modal-p{font-size:large;margin:6px 0 20px 6px;}

/* default setting */
body, html{height:100%;width:100%;margin:0;background-color:rgb(245, 245, 245);}

/* home, board, write*/
.main-section{
    display:flex;
    position:relative;
    justify-content:center;
}

.nav{
    display:flex;
    position:fixed;
    align-items:center; 
    top:0;
    width:100%;
    padding:20px;
    justify-content:space-between;
    box-sizing:border-box;
    z-index:2;
}

.nav-main{
    display:flex;
    align-items:center; 
}

.profile-img{
    border-radius:70%;
    overflow:hidden;
    &.--big{
        height:50px;
        width:50px;
    }
    &.--small{
        height:18px;
        width:18px;
        margin-right:6px;
    }
}

.main-logo{height:35px;margin-right:15px;}

/* board, home, write */
.board-list-card{
    width:100%;
    box-sizing:border-box;
    border-radius:25px;
    padding:20px;
    margin-bottom:20px;
    &.--like{background-color:rgb(215, 219, 228);}
    &.--general{background-color:rgb(235, 235, 235);}
    &.--user{background-color:rgb(235, 235, 235);text-align:left;}
}

/* home*/
.home{
    display:flex;
    width:60%;
    transition:all 1s ease;
}

@media(max-width: 800px){
    .home{
        width:80%;
    }
}

.home_content{
    margin-top:110px;
    width:60%;
    box-sizing:border-box;
    &.--left{
        float:left;
        margin-right:20px;
    }
    &.--right{
        float:right;
        flex-grow:1;
    }
}

/* board, write*/
.content{
    position:absolute;
    width:60%;
    top:0;
    z-index:1;
    transition:all 1s ease;
}

@media(max-width: 800px){
    .content_section{
        width:80%;
    };
}

/* board */
.post-card{
    padding:20px;
    background-color:rgb(235, 235, 235);
    border-radius:25px;
    margin-bottom:10px;
}

.post-card_action{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
    &.--bottom{
        width:100%;
        box-sizing:border-box;
        padding-top:15px;
    }
}

.post-function{
    display:flex;
    align-items: center;
    &.--section{
        position:fixed;
        bottom:0;
        width:100%;
        box-sizing:border-box;
        flex-direction:row-reverse;
        padding:20px;
        z-index:3;
    }
}

/* write */
.write-text{
    box-sizing:border-box;
    border-radius:25px;
    background-color:rgb(235, 235, 235);
    padding:20px;
    border:0;
    font-size: medium;
    &:focus{outline:0;}
    &.--title{
        width:80%;
        height:60px;
        margin-bottom:20px;
        &:focus{background-color:rgb(215, 219, 228);}
    }
    &.--content{
        width:100%;
        height:400px;
        resize:none;
    }
}
 
/* dropdown */
.nav-main__dropdown{position:relative;display:inline-block;&:hover .dropdown__list{opacity:1;visibility:visible;}}

.dropdown__list {
    opacity:0;
    visibility:hidden;
    position:absolute;
    height:auto;
    min-width:340px;
    z-index:1;
    &.--profile{right:0px;}
    &.--class-intro{left:0px;}
}

.dropdown__list_content{
    background-color:rgba(255,255,255,20%);
    backdrop-filter:blur(5px);
    padding:20px 20px 20px 20px;
    box-shadow:0 0 6px .1px rgb(175,175,175);
    height:auto;
    &.--profile{border-radius:37px;}
    &.--class-intro{border-radius:25px;}
}

/* modal */
.modal {
    visibility:hidden;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:20px;
    height: auto;
    width: auto;
    background-color: rgb(245,245,245);
    border-radius: 37px;
    box-shadow:0 0 6px .1px rgb(175,175,175);
    z-index: 900;
}

.dimlayer{
    visibility:hidden;
    position:absolute;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,10%);
    backdrop-filter: blur(5px);
    z-index:800
}