<!DOCTYPE html>
<html>
    <head>
        {% include "header.html"%}
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}"/>
        <title>공군 병사 통합 홈페이지</title>
    </head>
    <body class="main-section">
        <header class="nav">
            <div class="nav-main">
                <button class="head-title" onclick="location.href='/'">
                    <img class="main-logo" src="{{ url_for('static', filename='image/af_logo.svg') }}">
                    <h1 class="main-title">병사 통합 홈페이지</h1>
                </button>
                <nav>
                    <button class="middle-round --main" onclick="location.href='/calender'">캘린더</button>
                    <button class="middle-round --main" onclick="location.href='/friend/management'">친구관리</button>
                </nav>
            </div>
            {% include "dropdown.html" %}
        </header>

        <section class="home">
            <div class="home_content --left">
                <div class="board-list-card --like">
                    <h2 class="margin-top-remove">즐겨찾기</h2>
                    <div>
                        {% if liked_class_list | length == 0 %}
                        <!-- TODO 꾸미기 -->
                        <p>즐겨찾는 게시판을 추가하세요.</p>
                        {%else%}
                        {%for c in liked_class_list%}
                        <a class="a-margin-top-add" href="/board/1&{{c[0]}}&{{c[1]}}">{{c[1]}}</a>
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
                <div class="board-list-card --general">
                    <h2 class="margin-top-remove">모든 게시판</h2>
                    <div>
                        {%for c in class_list%}
                            <a class="a-margin-top-add" href="/board/1&{{c[0]}}&{{c[1]}}">{{c[1]}}</a>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="home_content --right">
                <div>
                    <!-- TODO 캘린더 위젯 -->
                </div>
                <div class="board-list-card --general">
                    <h2 class="margin-top-remove">친구</h2>
                    <!-- TODO 친구 -->
                </div>
            </div>
        </section>
    </body>
</html>