<!DOCTYPE html>
<html>
    <head>
        {% include "header.html"%}
        <title>공군 병사 통합 홈페이지</title>
    </head>
    <body>
        <div class="top_section">
            <header class="header">
                <div class="header_nav">
                    <button class="header_title" onclick="location.href='/'">
                        <img src="{{ url_for('static', filename='image/af_logo.svg') }}" class="header_nav_aflogo">
                        <h1 class="header_nav_h1">병사 통합 홈페이지</h1>
                    </button>
                    <nav>
                        <button class="element_round_button main_button">캘린더</button>
                        <button class="element_round_button main_button">친구관리</button>
                    </nav>
                </div>
                <div class="dropdown">
                    <button class="profile dropbtn">
                        <img src="{{url_for('static', filename='image/default_profile.jpg')}}" class="profile" style="overflow:hidden;">
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <button class="element_round_button login_button" id="logout" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </header>
        <section class="home_content_section">
            <div class="content_left">
                <div class="board_list_card favorite">
                    <h2 style="margin-top:0">즐겨찾기</h2>
                    <div>
                        {% if postClass_likeList | length == 0 %}
                        <p>즐겨찾는 게시판을 추가하세요.</p>
                        {%else%}
                        {%for cl in classLikeList%}
                        <a href="/board/{{cl[0]}}" style="margin-top:10px;display:block;margin-bottom:0;">{{cl[1]}}</a>
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
                <div class="board_list_card">
                    <h2 style="margin-top:0">모든 게시판</h2>
                    <div>
                        {%for pc in postClass_list%}
                            <a href="/board/{{pc[0]}}" style="margin-top:10px;display:block;margin-bottom:0;">{{pc[1]}}</a>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="content_right">
                <div>

                </div>
                <div class="board_list_card">
                    <h2 style="margin-top:0">친구</h2>
                </div>
            </div>
        </section>
        </div>
    </body>
</html>