<!DOCTYPE html>
<html>
    <head>
        {% include "header.html"%}
        <title>공군 병사 통합 홈페이지</title>
    </head>
    <body class="main-section">
        <header class="nav">
            <div class="nav-main">
                <button class="head-title" onclick="location.href='/'">
                    <img class="main-logo" src="{{ url_for('static', filename='image/af_logo.svg') }}">
                    <h1 class="main-title">병사 통합 홈페이지</h1>
                </button>
                <nav>
                    <button class="middle-round --main">캘린더</button>
                    <button class="middle-round --main">친구관리</button>
                </nav>
            </div>
            <div class="profile-dropdown">
                <button class="circle--dropdown">
                    <img class="profile-img --big" src="{{url_for('static', filename='image/default_profile.jpg')}}">
                </button>
                <div class="profile-dropdown__list">
                    <!-- TODO 회원 dropdown 메뉴  -->
                    <button class="large-round--logout" onclick="location.href='/logout'">로그아웃</button>
                </div>
            </div>
        </header>

        <section class="home">
            <div class="home_content --left">
                <div class="board-list-card --like">
                    <h2 class="margin-top-remove">즐겨찾기</h2>
                    <div>
                        {% if liked_class_list | length == 0 %}
                        <!-- TODO 꾸미기 -->
                        <p>즐겨찾는 게시판을 추가하세요.</p>
                        {%else%}
                        {%for c in liked_class_list%}
                        <a href="/board/1&{{c[0]}}&{{c[1]}}" style="margin-top:10px;display:block;margin-bottom:0;">{{c[1]}}</a>
                        {%endfor%}
                        {%endif%}
                    </div>
                </div>
                <div class="board-list-card --general">
                    <h2 class="margin-top-remove">모든 게시판</h2>
                    <div>
                        {%for c in class_list%}
                            <a href="/board/1&{{c[0]}}&{{c[1]}}" style="margin-top:10px;display:block;margin-bottom:0;">{{c[1]}}</a>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="home_content --right">
                <div>
                    <!-- TODO 캘린더 위젯 -->
                </div>
                <div class="board-list-card --general">
                    <h2 class="margin-top-remove">친구</h2>
                    <!-- TODO 친구 -->
                </div>
            </div>
        </section>
    </body>
</html>