<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>공군 병사 통합 홈페이지-로그인</title>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}"/>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }}"/>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/font.css') }}"/>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/button.css') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src=" {{ url_for('static', filename='javascript/login.js') }}"></script>
    </head>
    <body class="login_body">
        <div class="login_main">
            <button class="header_title login_title" onclick="location.href='/home/'">
                <img src="{{ url_for('static', filename='image/af_logo.svg') }}" class="header_nav_aflogo">
                <h1 class="header_nav_h1">병사 통합 홈페이지</h1>
            </button>
            <form class="login_form">
                <input type="text" id="id" name="lid" placeholder="아이디" style="border-radius: 25px 25px 0 0;">
                <input class="signup_input_3" type="password" id="password" name="password" placeholder="비밀번호">
                <script>paint_login_button()</script>
            </form>
            <div style="display: flex;">
                <button class="element_round_button login_button" id="signup" onclick="location.href='/signup/'">회원가입</button>
                <button class="element_round_button login_button" id="signin">로그인</button>
            </div>
        </div>
    </body>
</html>