<!DOCTYPE html>
<html>
    <head>
        {% include "header.html"%}
        <title>공군 병사 통합 홈페이지-회원가입</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src=" {{ url_for('static', filename='javascript/login.js') }}"></script>
    </head>
    <body class="login_body">
        <div class="login_main">
            <button class="header_title login_title" onclick="location.href='/'" style="flex-direction: column;">
                <h1 class="header_nav_h1">공군 병사 통합 홈페이지</h1>
                <p class="header_nav_p">오신 것을 환영합니다! - 회원가입</p>
            </button>
            <form class="login_form" style="background-color: rgb(245,245,245);" method="post">
                <div class="signup_text_section" style="margin-bottom:5px;">
                    <div class="signup_label"><p>아이디</p></div>
                    <input class="signup_input_1" type="text" id="id" name="id" placeholder="" oninput="">
                    <script>paint_id_original()</script>
                </div>
                <button type="button" class="response_button signup_id" id="id_dub" onclick="is_id_dub();">중복 확인</button>
                <div class="signup_text_section">
                    <div class="signup_label password_1"><p>비밀번호</p></div>
                    <input class="signup_input_2" type="password" id="password" name="password" oninput="is_password_able(this)">
                </div>
                <div class="signup_text_section">
                    <div class="signup_label password_2"><p>확인</p></div>
                    <input class="signup_input_4" type="password" id="pw_dub" name="pw_dub" oninput="is_password_same(this)">
                </div>
                <div class="response_button signup_password" id="signup_pw_info">숫자와 알파벳을 포함하여 8자리 이상으로 설정해주세요.</div>
                <div class="signup_text_section" style="margin-bottom:5px;">
                    <div class="signup_label"><p>전화번호</p></div>
                    <input class="signup_input_1" type="text" id="num" name="num" oninput="autoHyphen(this)">
                </div>
                <script>paint_signup_button();prevent_signup_enter()</script>
                <button class="login_button" id="signin" style="border:0" disabled>회원가입</button>
            </form>
        </div>
    </body>
</html>