<!DOCTYPE html>
<html>
    <head>
        {% include "header.html"%}
        <title>공군 병사 통합 홈페이지</title>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script defer src=" {{ url_for('static', filename='javascript/write.js') }}"></script>
    </head>
    <body class="main-section">
        <header class="nav">
            <div class="nav-main">
                <button class="head-title" onclick="location.href='/'">
                    <img class="main-logo" src="{{ url_for('static', filename='image/af_logo.svg') }}">
                    <h1 class="main-title">병사 통합 홈페이지</h1>
                </button>
                <nav>
                    <button class="middle-round --label">{{class_info[1]}}</button>
                    <button class="middle-round --main">캘린더</button>
                    <button class="middle-round --main">친구관리</button>
                </nav>
            </div>
            <div class="nav-main__profile-dropdown">
                <button class="circle --dropdown">
                    <img class="profile-img --big" src="{{url_for('static', filename='image/default_profile.jpg')}}">
                </button>
                <div class="profile-dropdown__list">
                    <!-- TODO 회원 dropdown 메뉴  -->
                    <button class="large-round --logout" onclick="location.href='/logout'">로그아웃</button>
                </div>
            </div>
        </header>
        <sction class="content">
            <div style="height: 110px"></div>
            <form method="post" autocomplete="off" name="post">
                <h1 class="write-h1">글작성</h1>
                <input type="text" class="write-text --title" name="title" placeholder="제목을 입력해주세요"><br>
                <textarea class="write-text --content" placeholder="주의사항"></textarea>
                <div>
                    <div>
                        <button>이전</button>
                        <button>게시물 쓰기</button>
                        <!-- TODO 기능 추가  -->
                    </div>
                </div>
            </form>
        </sction>
    </body>
</html>