<!DOCTYPE html>
<html>
    <head>
        {% include "header.html"%}
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}"/>
        <title>공군 병사 통합 홈페이지</title>
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script defer src=" {{ url_for('static', filename='javascript/write.js') }}"></script>
    </head>
    <body style="position:relative">
        <section class="modal" id="yn">
            <span class="material-symbols-rounded" style="font-size:40px">error</span>
            <p class="modal-p">글 작성을 중지하시겠습니까?</p>
            <button class="middle-round --login" onclick="closeModal()">아니요</button>
            <button class="middle-round --yes" onclick="goPage('{{class_info[0]}}','{{class_info[1]}}')">예</button>
        </section>
        <section class="modal" id="cancel">
            <span class="material-symbols-rounded" style="font-size:40px">error</span>
            <p class="modal-p"></p>
            <button class="middle-round --full" onclick="closeCancelModal()">닫기</button>
        </section>
        <div class="main-section">
            <header class="nav">
                <div class="nav-main">
                    <button class="head-title" onclick="showModal('/')">
                        <img class="main-logo" src="{{ url_for('static', filename='image/af_logo.svg') }}">
                        <h1 class="main-title">병사 통합 홈페이지</h1>
                    </button>
                    <nav>
                        <button class="middle-round --label" id="class_name">{{class_info[1]}}</button>
                        <button class="middle-round --main" onclick="showModal('/calender')">캘린더</button>
                        <button class="middle-round --main" onclick="showModal('/friend/management')">친구관리</button>
                    </nav>
                </div>
                {% include "dropdown.html" %}
            </header>
            <sction class="content">
                <div style="height: 110px"></div>
                    <h1 class="write-h1">글작성</h1>
                    <input type="text" class="write-text --title" id="title" placeholder="제목을 입력해주세요"><br>
                    <textarea class="write-text --content" id="content" placeholder="주의사항&#13"></textarea>
                    <div class="main-section">
                        <div>
                            <button type="button" class="large-round --back" onclick="showModal('back')">이전</button>
                            <button type="button" class="large-round --write" onclick="showModal('create')">게시물 쓰기</button>
                        </div>
                </div>
            </sction>
        </div>
        <div class="dimlayer"></div>
    </body>
</html>